* {
  margin: 0;
}

html, body{
  width: 100%;
  height: 100%;
}

body {
  background-color: #1f1f1f;
}

h2, h3, a, p {
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
}

p {
  font-family: 'Ubuntu Condensed', sans-serif;
}

/* ----------HEADER, MENU------------ */

.navbar li a {
  padding: 10px;
  font-size: 18px;
}

.navbar ul li a:hover {
  color: #fff !important;
}

/* ----------Banner------------ */
.container-banner{
  position: relative;
  width: 100%;
}
.container-banner .banner-img{
  width: 100%;
  opacity: 0.6;
}

.container-banner .content .info-left{
  margin-left: 80px;
}

/* animate */
.container-banner h1 {
  animation: bounceInLeft;
  animation-duration: 2.2s;
}
.container-banner p {
  animation: bounceInLeft;
  animation-duration: 2.4s;
}

.anima-button {
  animation: bounceInLeft;
  animation-duration: 2.6s;
}

/* banner */
.container-banner .content .info-left h1{
  color: #ffffff;
  position: absolute;
  top: 200px;
  font-weight: 900;
  font-size: 4em;
}

.container-banner .content .info-left p{
  position: absolute;
  top: 300px;
  font-weight:200;
  font-size: 1.50em;
}
.container-banner .content .info-right{
  width: 50%;
}

.container-banner strong {
  font-weight: 800;
  color: #212529;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px 2px #ccc;
}

/* modal */
.modal-button button {
  top: 350px;
}

.sub-titulo {
 color: #4b4b4b;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

/* card */
.bg-body{
  border-radius: 3px;
  height: 120px;
}
.bg-body h5{
  text-align: center;
}
.bg-body p{
  font-size: 14px;
  float: left;
}
.bg-body .icon{
 float: right;
 padding: 3px;
}

.bg-body button {
  float: left;
  margin-left: 80px;
  margin-top: 25px;
  padding: 7px;
  font-size: 12px;
}
.bg-body button:hover {
transition: 1s;
}
.bg-body button i{
  margin-right: 3px;
}

.card:hover {
  cursor: pointer;
}

.modal-img {
  width: 770px;
}

/* Palestrantes */
.container-palestrantes {
  background-color: #252525;
  padding: 40px;
}

.container-palestrantes h2 {
  margin-bottom: 50px;
}

.info-palestrantes img{
  transition: all .5s;
  border: 10px solid transparent;
  border-radius: 10%;
  
}
.info-palestrantes img:hover{
  cursor: pointer;
  border: 10px solid #4b4b4b;
  border-radius: 50%;
}
.info-palestrantes h3{
  text-align: center;
}

.info-palestrantes span {
  text-align: center;
}

/* -----------FOOTER----------- */
.footer {
  background-color: #000;
  width: 100%;
  padding: 100px;
}

.border-right {
  border-right: 3px solid #1f1f1f;
}
.border-right:last-child {
  border: none;
}

ul {
  list-style: none;
  font-size: 14px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.646);
}

ul li a {
  color: rgba(255, 255, 255, 0.646)!important; 
  text-decoration: none;
}

.copy-right {
  float: left;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin-left: 30px;
}
.copy-right b{
  color: #4e4e4e;
}

.footer-img {
  width: 150px;
  float: right;
  margin-right: 100px;
}

/* Responsive */
@media screen and (max-width: 1024px){
  .container-banner 
  .banner-img {
    width: 100vw;
  }

  .container-banner 
  .content .info-left h1 {
    font-size: 2em;
    top: 50px;
  }

  .container-banner 
  .content .info-left p {
    font-size: 16px;
    top: 90px;
  }

  .d-flex button {
    top: 120px;
    padding: 5px;
  }
}

/*Para Dispositivos de 980px ou menos*/
@media screen and (max-width: 980px){
  .banner-img {
    width: 100%;
  }

}

/*Para Dispositivos de 768px ou menos*/
@media screen and (max-width: 768px){
  .banner-img {
    width: 100%;
  }

	.card{
    width: 150px;
  }

  .slider1 {
    top: 250px;
    margin-left: 0px;
  }

  .card-body {
    top: 80px;
  }
}

/*Para Dispositivos de 480px ou menos*/
@media screen and (max-width: 480px){
  .container-banner 
  .content .info-left h1 {
    font-size: 2em;
    top: 50px;
  }

  .container-banner 
  .content .info-left p {
    font-size: 18px;
    top: 90px;
  }

  .mobile-btn button {
    top: 110px;
    padding: 5px;
  }
}

@media screen and (max-width: 420px){
  .container-banner 
  .content .info-left h1 {
    font-size: 2em;
    top: 40px;
  }

  .container-banner 
  .content .info-left p {
    font-size: 14px;
    top: 80px;
  }

  .carousel-btn {
    display: none;
  }

  .mobile-btn button {
    top: 95px;
    padding: 2px;
    margin-left: 70px !important;
  }

  .bg-body button {
    margin-left: 0px;
    padding: 5px;
    font-size: 11px;
  }

  .container-mobile {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
  }

}

/*Para Dispositivos de 320px ou menos*/
@media screen and (max-width: 320px){	

};



















