* {
  margin: 0;
  /* overflow-x: hidden; */
}

html, body {
  height: 100%;
  width: 100%;
}

h1, h2, h3, a {
  font-family: 'Nunito Sans', sans-serif;
}

p {
  font-family: 'Ubuntu Condensed', sans-serif;
}

/* HEADER, MENU */
.container-fluid {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar {
 padding-top: 10px !important;
 padding-bottom: 10px !important;
}

.logo-img {
  margin-left: 50px;
}

ul {
  font-size: 1.25em;
  gap: 10px;
}

.collapse {
  margin-left: 15px;
}

.collapse ul li a {
  border: 2px solid transparent;
  /* padding-top: 0px;
  padding-bottom: 20px; */
}

.collapse ul li a:hover {
  border-bottom-color: #fff;
  color: #fff;
}


/* MAIN */
 .container-banner {
  width: 100%;
  position: relative;
 }

 .container-banner h1 {
  position: absolute;
  font-size: 2.25em;
  color: #e9e9e9;
  top: 120px;
  left: 30px;
 }

 .border {
  content: "";
  display: block;
  border: 4px solid #c60610;
  position: absolute;
  width: 30px;
  left: 32px;
  top: 160px;
 }

 .banner img {
  width: 100%;
  opacity: 0.8;
 }

 .banner p {
  position: absolute;
  color: #e9e9e9;
  top: 175px;
  left: 30px;
 }

 .link-sobre a{
  position:absolute;
  background-color: #c60610;
  padding: 10px;
  color: #fff;
  border-radius: 3px;
  box-shadow: 1px 0px 1px 0px #000;
  text-decoration: none;
  top: 210px;
  left: 80px;
  transition: background 0.9s;
 }

 .link-sobre a:hover {
  background: transparent;
  border: 1px solid #fff;
 }

.container-eventos-recente {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.info {
  display: inline;
}

.info h2 {
  padding: 10px;
  font-size: 2em;
  font-weight: 800;
  text-align: center;
}

.info p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.slider1 {
  position: absolute;
}

.card {
  width: 500px;
  border-radius: 4px;
  transition: 0.2s linear;
  margin: 4px;
  position: relative;
}


.card:hover {
  transform: scale(1.1);
  z-index: 10;
}

.container-palestrantes {
  width: 100%;
  padding: 50px;
  background-color: #1f1f1f;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-palestrantes h2 {
  width: 100%;
  font-size: 2em;
  font-weight: 800;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.info-palestrantes img {
  border-radius: 20px;
}

.info-palestrantes h3 {
  width: 100%;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.info-palestrantes p {
  justify-content: center;
  color: #fff;
}


/* FOOTER */
footer {
  width: 100%;
  box-sizing: border-box;
  background-color: #333;
  padding: 100px 0;
 }

 footer .container-footer {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  flex-direction: row;
 }

 footer 
 .container-footer 
 .menu-body {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  align-items: center;
  border-right: 2px solid #404040;
  box-sizing: border-box;
 }

 footer 
 .container-footer 
 .menu-body:last-child {
  border-right: none;
 }

footer 
.container-footer 
.menu-body h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 0;
}

footer .container-footer 
.menu-body p{
  color: #fff;
}

footer 
.container-footer 
.menu-body ul {
  list-style: none;
  display: flex;
  flex-direction:row;
  padding-left: 0;
}

footer .container-footer 
.menu-body ul li a,
footer .container-footer 
.menu-body ul li a:visited {
  padding: 5px 10px 5px 0;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 800;
}

footer .container-footer 
.menu-body ul li a img {
  width: 20px;
}

footer .container-footer 
.menu-body ul li a img:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1024px){

}

/*Para Dispositivos de 980px ou menos*/
@media screen and (max-width: 980px){
    
}

/*Para Dispositivos de 768px ou menos*/
@media screen and (max-width: 768px){
	footer i{
        padding: 0 10px;
    }

}

/*Para Dispositivos de 480px ou menos*/
@media screen and (max-width: 480px){
    footer i{
        padding: 0 5px;
    }
}

@media screen and (max-width: 420px){
   
}

/*Para Dispositivos de 320px ou menos*/
@media screen and (max-width: 320px){	
    footer i{
        padding: 0;
    }
};



















